.paginaArticulo {
    margin-bottom: 70px;
}

.cabeceraWiki h1 a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}

.cabeceraWiki h1 a:hover {
    background-color: gray;
    border-radius: 5px;
}

.articulo {
    border: 2px solid darkgray;
}

.tituloArticulo {
    padding-left: 7px;
}

.cabeceraArticulo {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid darkgray;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.cuerpoArticulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.contenidoArticulo {
    flex: 4;
    margin-bottom: 10px;
}

.contenidoArticulo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.informacionArticulo {
    flex: 1;
    border: 1.5px solid gray;
    height: 500px;
}

.informacionArticulo h3 {
    padding-left: 15px;
}

.contenedorMapa{
    border: 2px solid darkgray;
    margin: 5%;
}

.botonHistorial {
    border-radius: 20%;
    border-width: 2px;
    background: none;
}

.botonHistorial:hover {
    background-color: darkgray;
}

.botonCreador {
    border-radius: 20%;
    border-width: 2px;
    background: none;
}

.botonCreador:hover {
    background-color: darkgray;
    cursor: pointer;
}

.botonComentarios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    border-radius: 10%;
    border-width: 2px;
    background: none;
    width: 250px;
    height: 30px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonComentarios:hover {
    background-color: darkgray;
    cursor: pointer;
}

.botonComentarios p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cabeceraLista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabeceraLista p {
    margin-left: 4px;
}

.cabeceraLista button {
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.cabeceraLista button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.listaIdiomas {
    position: relative;
    display: inline-block;
}

.listaIdiomas ul {
    position: absolute; /* Positions the dropdown relative to the parent */
    top: 100%; /* Places the dropdown below the button */
    left: 0; /* Aligns the dropdown to the left of the button */
    margin: 0;
    padding: 0;
    list-style: none; /* Removes default bullets */
    background-color: white; /* Dropdown background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a shadow */
    border-radius: 4px; /* Rounds the corners */
    z-index: 10; /* Ensures it appears above other elements */
    width: 100%;
  }

  .mapaDefault {
    height: 400px;
    width: 100%;
    margin: 0 auto;
  }

