.comentarios h2 {
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.comentarios {
    border: 2px solid darkgray;
    margin: 10px;
}

.comentarios li {
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}

.comentarios ul {
    padding: 10px;
}
