.cabeceraWiki {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.nombreWiki {
    padding-left: 7px;
}

.botonEditar {
    border-radius: 20%;
    border-width: 2px;
    background: none;
    cursor: pointer;
}

.botonEditar:hover {
    background-color: darkgray;
}

.irACrearArticulo {
    background: rgb(43, 255, 0);
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.irACrearArticulo:hover {
    background-color: rgb(0, 200, 255);
    cursor: pointer;
}

.ulArticulos {
    list-style-type: none;
    margin-bottom: 20px;
}

.ulArticulos a {
    text-decoration: none;
}

.ulArticulos a li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 0px 25px;
}

.ulArticulos a li p {
    margin-right: 15px;
    color: gray;
    font-size: 13px;
}

.ulArticulos a li .fecha {
    margin-right: 15px;
    color: gray;
    font-size: 10px;
}

.ulArticulos a li h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;       
    padding: 12px 15px;  
    margin: 10px 0px;
    color: rgb(57, 57, 57);
}

 
/* Editor wiki */

.contenedorBotonesActualizar {
    margin: 30px 0px;
}

.contenedorImagenPortada {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.inputPortada {
    width: 700px;
}

.contenedorImagenCabecera {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.inputCabecera {
    width: 700px;
}


.imagenPortada {
    width: 150px;
    border: 2px solid gray;
}

.imagenCabecera {
    width: 150px;
    border: 2px solid gray;
}

.ulIdiomas button{
    width: 100%;
}

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
}