<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>laWiki</title>
    <link href="{{ url_for('static', path='/stylesIndex.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Bienvenidos a laWiki</h1>
    </div>

    <form action="/search" method="get">
        <input type="text" name="term" placeholder="Buscar en laWiki" required>
        <button type="submit">Buscar</button>
    </form>

    <h2>Wikis</h2>

    {% if not wikis %}
        <p>No hay wikis</p>
    {% else %}
        <ul>
            {% for item in wikis %}
                <li>
                    <h3>
                        <a href="/wiki/{{ item.nombre }}">
                            {{ item.nombre }}
                        </a>
                    </h3>
                    <p>{{ item.descripcion }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>