<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>laWiki - {{ wiki.nombre }}</title>
    <link href="{{ url_for('static', path='/stylesWiki.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ wiki.nombre }}</h1>
    </div>
    <div class="container">
        <p>{{ wiki.descripcion }}</p>
    </div>
    <form action="/searchArt" method="get">
        <input type="text" name="term" placeholder="Buscar en {{wiki.nombre}}" required>
        <button type="submit">Buscar</button>
    </form>

    <h2>Entradas</h2>

    {% if not articulos %}
        <p>No hay entradas</p>
    {% else %}
        <ul>
            {% for item in articulos %}
                <li>
                    <h3>
                        <a href="/wiki/{{ wiki.nombre }}/{{ item.titulo }}">
                            {{ item.titulo }}
                        </a>
                    </h3>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>